<footer
  class="w-full md:w-3xl lg:w-4xl mx-auto flex flex-col text-center md:flex-row md:justify-between py-4 pt-12 text-base gap-2 font-light tracking-wider px-8 mt-15"
>
  <p class="block text-neutral-500">
    &copy; {new Date().getFullYear()}
    <span class="text-purple-400/50">Álvaro Martínez</span>. Casi todos los derechos reservados.
  </p>
  <p class="block text-neutral-500">
    <span class="text-[#FF5D01]/80">Astro</span> + <span class="text-[#38BDF8]/80">TailwindCSS</span>
  </p>
</footer>
