---

---

<header class="flex flex-col items-center justify-center text-center md:h-96">
  <nav class="flex justify-center width-full sm:width-3/4 mx-auto">
    <ul class="flex space-x-4 m-5">
      <li>
        <a class="duration-300 ease-out hover:text-purple-400 hover:font-bold shadow-2xl hover:shadow-neutral-950/90" href="#inicio">Sobre mí</a>
      </li>
      <li><a class="duration-300 ease-out hover:text-purple-400 hover:font-bold ml-5 md:ml-15" href="#proyectos">Proyectos</a></li>
      <li>
        <a class="duration-300 ease-out hover:text-purple-400 hover:font-bold ml-5 md:ml-15" href="mailto:alvaromartinezdev@gmail.com">Contacto</a>
      </li>
    </ul>
  </nav>
</header>
