---
import PreviewIcon from "../components/icons/PreviewIcon.astro";
import Github2icon from "../components/icons/Github2icon.astro";
---

<!-- primer proyecto -->
<div class="flex flex-col gap-y-16">
  <article class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0">
    <div class="w-full md:w-1/2">
      <div
        class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50"
      >
        <img
          alt="calculadora iOS"
          class="object-cover object-top w-full h-56 transition duration-500 sm:h-full md:scale-110 md:group-hover:scale-105"
          loading="lazy"
          src="/calculator.webp"
        />
      </div>
    </div>
    <div class="w-full md:w-1/2 md:max-w-lg">
      <h3 class="text-2xl font-bold text-gray-800 dark:text-gray-100">iOS Calculadora</h3>
      <div class="flex flex-wrap mt-2">
        <div class="mt-2 text-gray-700 dark:text-gray-400">
          Este proyecto es una calculadora web totalmente funcional inspirada en por la interfaz de la calculadora iOS de Apple.
        </div>
        <footer class="flex items-end justify-start mt-4 gap-x-4">
          <a
            target="_blank"
            href="https://github.com/amartinezdev/iOScalculator"
            role="link"
            class="inline-flex bg-gray-100 text-gray-800 border-gray-300 items-center justify-center gap-2 px-3 py-2 space-x-2 text-base transition dark:text-white dark:bg-gray-800 border dark:border-gray-600 focus-visible:ring-white text-md hover:bg-gray-800 hover:border-gray-900 group max-w-fit rounded-xl hover:text-white focus:outline-none focus-visible:outline-none focus-visible:ring focus-visible:ring-offset-2 active:bg-black"
            ><Github2icon />Code</a
          >
          <a
            target="_blank"
            href="https://amartinezdev.github.io/iOScalculator/"
            role="link"
            class="inline-flex bg-gray-100 text-gray-800 border-gray-300 items-center justify-center gap-2 px-3 py-2 space-x-2 text-base transition dark:text-white dark:bg-gray-800 border dark:border-gray-600 focus-visible:ring-white text-md hover:bg-gray-800 hover:border-gray-900 group max-w-fit rounded-xl hover:text-white focus:outline-none focus-visible:outline-none focus-visible:ring focus-visible:ring-offset-2 active:bg-black"
          >
            <PreviewIcon />Preview
          </a>
        </footer>
      </div>
    </div>
  </article>
</div>

<!-- segundo proyecto -->
<div class="flex flex-col gap-y-16 mt-10">
  <article class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0">
    <div class="w-full md:w-1/2">
      <div
        class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50"
      >
        <img
          alt="calculadora iOS"
          class="object-cover object-top w-full h-56 transition duration-500 sm:h-full md:scale-110 md:group-hover:scale-105"
          loading="lazy"
          src="/etch-a-sketchpng.webp"
        />
      </div>
    </div>
    <div class="w-full md:w-1/2 md:max-w-lg">
      <h3 class="text-2xl font-bold text-gray-800 dark:text-gray-100">Etch a Sketch</h3>
      <div class="flex flex-wrap mt-2">
        <div class="mt-2 text-gray-700 dark:text-gray-400">
          Este proyecto es una recreación del clásico juego "Etch a Sketch", donde puedes dibujar en una pantalla utilizando un sistema de píxeles.
        </div>
        <footer class="flex items-end justify-start mt-4 gap-x-4">
          <a
            target="_blank"
            href="https://github.com/amartinezdev/etch-a-sketch"
            role="link"
            class="inline-flex bg-gray-100 text-gray-800 border-gray-300 items-center justify-center gap-2 px-3 py-2 space-x-2 text-base transition dark:text-white dark:bg-gray-800 border dark:border-gray-600 text-md hover:bg-gray-800 hover:border-gray-900 group max-w-fit rounded-xl hover:text-white focus:outline-none focus-visible:outline-none focus-visible:ring focus-visible:ring-white focus-visible:ring-offset-2 active:bg-black"
            ><Github2icon />Code</a
          >
          <a
            target="_blank"
            href="https://amartinezdev.github.io/etch-a-sketch/"
            role="link"
            class="inline-flex bg-gray-100 text-gray-800 border-gray-300 items-center justify-center gap-2 px-3 py-2 space-x-2 text-base transition dark:text-white dark:bg-gray-800 border dark:border-gray-600 text-md hover:bg-gray-800 hover:border-gray-900 group max-w-fit rounded-xl hover:text-white focus:outline-none focus-visible:outline-none focus-visible:ring focus-visible:ring-white focus-visible:ring-offset-2 active:bg-black"
          >
            <PreviewIcon />Preview
          </a>
        </footer>
      </div>
    </div>
  </article>
</div>

<!-- tercer proyecto -->
<div class="flex flex-col gap-y-16 mt-10">
  <article class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0">
    <div class="w-full md:w-1/2">
      <div
        class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50"
      >
        <img
          alt="calculadora iOS"
          class="object-cover object-top w-full h-56 transition duration-500 sm:h-full md:scale-110 md:group-hover:scale-105"
          loading="lazy"
          src="/7.5.webp"
        />
      </div>
    </div>
    <div class="w-full md:w-1/2 md:max-w-lg">
      <h3 class="text-2xl font-bold text-gray-800 dark:text-gray-100">7.5</h3>
      <div class="flex flex-wrap mt-2">
        <div class="mt-2 text-gray-700 dark:text-gray-400">
          Este proyecto es una recreación del clásico juego "Siete y media" para un proyecto de 1º de DAW, donde puedes jugar con cartas y tratar de
          alcanzar una puntuación de siete y media sin pasarte contra la máquina.
        </div>
        <footer class="flex items-end justify-start mt-4 gap-x-4">
          <a
            target="_blank"
            href="https://github.com/amartinezdev/seven-half"
            role="link"
            class="inline-flex bg-gray-100 text-gray-800 border-gray-300 items-center justify-center gap-2 px-3 py-2 space-x-2 text-base transition dark:text-white dark:bg-gray-800 border dark:border-gray-600 focus-visible:ring-yellow-500/80 text-md hover:bg-gray-800 hover:border-gray-900 group max-w-fit rounded-xl hover:text-white focus:outline-none focus-visible:outline-none focus-visible:ring focus-visible:ring-offset-2 active:bg-black"
            ><Github2icon />Code</a
          >
          <a
            target="_blank"
            href="https://amartinezdev.github.io/seven-half/"
            role="link"
            class="inline-flex bg-gray-100 text-gray-800 border-gray-300 items-center justify-center gap-2 px-3 py-2 space-x-2 text-base transition dark:text-white dark:bg-gray-800 border dark:border-gray-600 focus-visible:ring-white text-md hover:bg-gray-800 hover:border-gray-900 group max-w-fit rounded-xl hover:text-white focus:outline-none focus-visible:outline-none focus-visible:ring focus-visible:ring-offset-2 active:bg-black"
          >
            <PreviewIcon />Preview
          </a>
        </footer>
      </div>
    </div>
  </article>
</div>
